
@{
    ViewBag.Title = "Index";
}

<h2 class="display-4">Tela Inicial</h2>
<div class="card text-center">

    <div class="card-body">
        <h5 class="card-title">Bem-Vindo</h5>
        <p class="card-text">Este é um trabalho para o curso Entra21</p>

    </div>

</div>
<div class="card" style="width: 18rem;">
    <i class="card-img-top fas fa-user fa-2x "></i>

    <div class="card-body">
        <h5 class="card-title">Clientes</h5>
        <p class="card-text">Cadastre os clientes para poder adicionar projetos.</p>
        <a class="btn btn-primary" href="/cliente/index">Ir</a>
    </div>
</div>