
@{
    ViewBag.Title = "Inserir";
}

<h2>Inserir</h2>
<form action="/cliente/insert">
    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required="" />
    </div>
    <div>
        <label for="campo-cpf">CPF</label>
        <input type="number" required="" id="campo-cpf" name="cpf" />
    </div>
    <div>
        <label for="campo-data-nascimento">Data Nascimento</label>
        <input type="date" id="campo-data-nascimento" name="dataNascimento" required="" />
    </div>
    <div>
        <label for="campo-cidade">Cidade</label>
        <select name="cidade" id="campo-cidade" required="">
            <option selected="" disabled="disabled">Selecione uma cidade</option>
            @for (int i = 0; i < @ViewBag.Cidades.Count; i++)
            {
                <option value="@ViewBag.Cidades[i].Id">@ViewBag.Cidades[i].Nome</option>
            }
            
        </select>
    </div>
    <div>
        <label for="campo-numero">Numero</label>
        <input type="number" required="" name="numero" id="campo-numero" />
    </div>
    <div>
        <label for="campo-complemento">Complemento</label>
        <input type="text" required="" name="complemento" id="campo-complemento" />
    </div>
    <div>
        <label for="campo-logradouro">Logradouro</label>
        <input type="text" required="" name="logradouro" id="campo-logradouro" />
    </div>
    <div>
        <label for="campo-cep">Cep</label>
        <input type="text" required="" name="cep" id="campo-cep" />
    </div>
    <input type="text" name="id" hidden="hidden" value="@ViewBag.Clientes.Id" />
    <button type="submit">Salvar</button>
</form>

