
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>
<form action="/projeto/insert" method="post">
    <div>
        <select name="cliente" required="">
            <option disabled="disabled" selected="selected">Selecione um cliente</option>
            @foreach (Model.Cliente Cliente in ViewBag.Clientes)
            {
                <option value="@Cliente.Id">@Cliente.Nome</option>
            }
        </select>
    </div>

    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required=""/>
    </div>
    <div>
        <label for="campo-data-criacao">Data Criação</label>
        <input type="date" name="dataCriacao" id="campo-data-criacao" required="" />
    </div>
    <div>
        <label for="campo-data-finalizacao">Data Finalização</label>
        <input type="date" name="dataFinalizacao" id="campo-data-finalizacao" required="" />
    </div>
    <button type="submit">Salvar</button>

</form>

