
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuarios</h2>
<div>
    <a href="/usuario/cadastro">Cadastrar novo Usuario</a>
</div>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Login</td>
            <td>Nome</td>
            <td>Ação</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Usuario Usuario in ViewBag.Usuarios)
        {
            <tr>
                <td>@Usuario.Id</td>
                <td>@Usuario.Login</td>
                <td>@Usuario.Nome</td>
                <td>
                    <a href="/usuario/alterar?id=@Usuario.Id">Alterar</a>
                    <a href="/usuario/apagar?id=@Usuario.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Id</td>
            <td>Login</td>
            <td>Nome</td>
            <td>Ação</td>
        </tr>
    </tfoot>

</table>

