
@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>

<form action="/cidade/update" method="post">
    <div>
        <label for="campo-nome">Novo nome</label>
        <input type="text" name="nome" id="=campo-nome" value="@ViewBag.Cidades.Nome" required="" />
    </div>
    <div>
        <label for="campo-habitantes">Editar Habitantes</label>
        <input type="text" name="habitantes" id="campo-habitantes" value="@ViewBag.Cidades.Habitantes" required="" />

    </div>
    <button type="submit">Salvar</button>
    <input hidden="hidden" value="@ViewBag.Cidades.Id" name="id" required="" />
</form>

