
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>
<form action="/cidade/store" method="post">
    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required="" />
    </div>
    <div>
        <label for="campo-numerohabitantes">Número Habitantes</label>
        <input type="number" required="" id="campo-numerohabitantes" name="numeroHabitantes" />
    </div>
    <div>
        <label for="campo-estado">Estado</label>
        <select name="estado" id="campo-estado" required="">
            <option selected="" disabled="disabled">Selecione um estado</option>
            @foreach (Model.Estado Estado in ViewBag.Estados)
            {
                <option value="@Estado.Id">@Estado.Nome</option>

            }
           

        </select>
    </div>
    <button type="submit">Salvar</button>
</form>
