
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<title>Cidades</title>
<div>
    <a href="~/Views/Cidade/Cadastro"></a>
</div>
<a href="/cidade/cadastro">Inserir</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Número de Habitantes</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Cidade cidade in ViewBag.Cidades)
        {
            <tr>
                <td>@cidade.Id</td>
                <td>@cidade.Nome</td>
                <td>@cidade.NumeroHabitantes</td>
                <td>
                    <a href="/cidade/alterar?id=@cidade.Id">Alterar</a>
                    <a href="/cidade/apagar?id=@cidade">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Número de Habitantes</th>
            <th>Ação</th>
        </tr>
    </tfoot>
</table>