
@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>
<form action="/estado/update" method="post">
    <div>
        <label for="campo-nome">Novo nome</label>
        <input type="text" name="nome" id="=campo-nome" value="@ViewBag.Estados.Sigla" required="" />
    </div>
    <div>
        <label for="campo-sigla">Editar Sigla</label>
        <input type="text" name="sigla" id="campo-sigla" value="@ViewBag.Estados.Sigla" required="" />

    </div>
    <button type="submit">Salvar</button>
    <input hidden="hidden" value="@ViewBag.Cidades.Id" name="id" required="" />
</form>
