
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>
<form action="/estado/store" method="post">
    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required="" />
    </div>
    <div>
        <label for="campo-sigla">Sigla</label>
        <input type="text" name="sigla" id="campo-sigla" required="" />
    </div>
    <button type="submit">Salvar</button>
</form>
