
@{
    ViewBag.Title = "Index";
}

<h2>Estados</h2>
<div>
    <a href="~/Views/Estado/Cadastro"></a>
</div>

<table>

    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sigla</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Estado estado in ViewBag.Estados)
        {
            <tr>
                <td>@estado.Id</td>
                <td>@estado.Nome</td>
                <td>@estado.Sigla</td>
                <td>
                    <a href="/estado/alterar?id=@estado.Id">Alterar</a>
                    <a href="/estado/apagar?id= @estado.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sigla</th>
        </tr>
    </tfoot>

</table>

