
@{
    ViewBag.Title = "Index";
}

<h2 class="display-4">Lista de Estados</h2>

<div>
    <a class="btn btn-primary float-right mb-3" href="/estado/cadastro">
        <i class="fa fa-plus-circle"></i> Adicionar Estado</a>
</div>
<table class="table table-striped table-hover table-bordered ">
    <thead>
        <tr class="thead-dark">
            <td>Id</td>
            <td>Nome</td>
            <td>Sigla</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Estado estado in ViewBag.Estados)
        {
            <tr>
                <td>@estado.Id</td>
                <td>@estado.Nome</td>
                <td>@estado.Sigla</td>
                <td>
                    <a class="btn btn-info" href="/estado/alterar?id=@estado.Id">Alterar</a>
                    <a class="btn btn-danger" href="/estado/apagar?id=@estado.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="thead-dark">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Sigla</td>
            <td>Ação</td>
        </tr>
    </tfoot>

</table>