
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="/login/verifica" method="post">
        <label for="campo-login">Login</label>
        <input type="text" required="" name="login" id="campo-login" />

        <label for="campo-senha">Senha</label>
        <input type="password" required="" name="senha" id="campo-senha" />

        <button type="submit">Entrar</button>
    </form>
</body>
</html>
