
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<title>Categorias</title>
<div>
    <a href="~/Views/Categoria/Cadastro"></a>
</div>
<a href="/categoria/cadastro">Inserir</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>


    <tbody>
        @foreach (Model.Categoria categoria in ViewBag.Categorias)
        {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Nome</td>

            </tr>
        }
    </tbody>


    <tfoot>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </tfoot>
</table>